
.about{
      width: 90%;
      margin: auto;
      height: 100%;
      margin-top: 10%;
      padding-bottom: 15%;
  
  }
  .about h1{
      text-decoration: underline;
      align-items: center;
      padding-bottom: 1%;
      
  
  }
  .about p{
   text-align: justify;
   text-justify: inter-word;
   display: flex;
   
  
  }
  